<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    @for(dato of datos; track dato.id) {
      <ion-col size="4">
        <ion-card class="rosa">
          <ion-title>
            Nombre: {{ dato.name }}
            <hr>
            Telefono: {{ dato.phone}}
            <hr>
            Email: {{ dato.email }}
          </ion-title>
        </ion-card>
      </ion-col>
    }
  </ion-row>
</ion-content>
